body {
  font: 1rem proxima-nova, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

input {
  border: 1px solid #ccc;
  font: 14px proxima-nova, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  padding: 3px;
  width: 150px
}

button {
  font: 14px proxima-nova, "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  margin: 5px;
  padding: 4px 10px
}